<%- include("header") %>
<div>
  <h1>Add post</h1>
  <form>
    <!-- Name input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form4Example1">Name</label>
      <input type="text" id="form4Example1" class="form-control" />
    </div>

    <!-- Message input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form4Example3">Message</label>
      <textarea class="form-control" id="form4Example3" rows="4"></textarea>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Send</button>
  </form>
</div>
<%- include("footer") %>
